[2014-02-14 22:43] mangonia opened #2 "F5 Refresh"
Hello,
when i hit F5 the sticky element doesn't jumps back.
you can add this after line 469:

if ($this.hasClass(options.className)) {
$this.css('position', 'fixed');
}

[2014-03-20 20:02] #2 closed, assigned to nobody

[2014-04-14 14:14] pasqualevitiello opened #3 "Changelog"
It would be really useful a Changelog and an updated documentation. I've lost hours to put some light on "stickTo" and "noContainer" options (obviously I am not so confident with Javascript). Finally I've understood that I needed last version to make "stickTo" work and that "noContainer" option has been deprecated instead ;)

Cheers,
-P

[2014-04-30 12:41] wagich opened #4 "clear resize_timeout when destroying"
When calling `hcSticky('destroy')`, the resize_timeout should be cleared, because otherwise after at most a 100ms any subsequent change to the stickied element css-left will be overwritten by the scheduled call to `setLeft()`

[2014-05-09 00:00] adamgen opened #5 "part of the bottom disappears"
when scrolling down, at some point, a from the bottom of the sidebar will not show for a second - and when scrolling more down it will show again.

any ideas?

[2014-05-09 00:04] #5 closed, assigned to nobody

[2014-05-10 11:57] #3 closed, assigned to nobody

[2014-05-10 12:33] #4 closed, assigned to nobody

[2014-05-14 18:16] yuhao-nyc opened #6 "window resize"
Hi thanks for the awesome plugin, I recently implemented it in my project and it comes out with a little issues.
It seems everytime I resize the browser window. the sticky sidebar will just stick to its old position. I have to manually refresh it, then those sidebar will go back to where is belong.
Same thing with the webpage's responsiveness.
I hope i describe the question in a proper way.
thanks

[2014-05-16 09:42] MentalAtom opened #7 "Radio buttons lose the "checked" property on resize."
When you resize the window with a hcSticky containing radio buttons, the checked property is lost (they become un-checked again). Turning the "responsive" option off fixes this, but causes many more issues as the page is responsive.

Thanks

[2014-06-10 10:54] m1gavin opened #8 "Problem on Android device"
I'm using Version: 1.2.43 of hc-sticky. It works perfectly on all of the other browsers I've tested it on, however using the android default browser (I'm using phonegap build) the header jumps down ever so slightly if the user scrolls too early. If the user waits 2 seconds or so it doesn't jump and acts as expected. If you have any recommendations to prevent this jump or require and further inform

[2014-06-24 14:04] timprint opened #9 "Float attribute not cloned in IE8"
Thanks for the plug-in, it's great.

I have a small issue in IE8. The div I am applying hc-sticky to is "float: left;".
The float attribute is not being added to the inline styles of "wrapper-sticky".
All the other attributes are being added in IE8.
The float attribute is being added in all other browsers I've tested.

Any ideas what could be causing that?

[2014-08-28 14:25] hunthunthunt opened #11 "Bower support?"
Are you able to update this project to enable Bower support?

[2014-11-17 15:14] garrypolley opened #13 "Use Release tags"
Is it possible for some tags to be created for the various versions of the plugin?  That way as a consumer I know what the source of truth is for a given version.

[2014-11-24 12:35] #13 closed, assigned to nobody

[2014-12-01 21:55] digitalinferno opened #14 "Jquery version"
The plugin work only with jquery lib <= 1.8.3

[2014-12-04 21:28] #14 closed, assigned to nobody

[2015-02-04 17:49] jenseo opened #16 "Problem: sticky seems to calculate sidebar height wrong, overlaps footer"
Hi!
I'm using your plugin on one of my sites, and I'm very happy with it, except for one thing that I'm not able to resolve:

It seems it calculates the height wrong.

You can see it in action here, with the ad on the right:

http://delbart.se/saab-blocket/

When the white are ends, the sticky item is supposed to stop, but it keeps on for a couple of hundred pixels.

Any idea what might be wrong?

[2015-02-04 19:30] jenseo commented on #16
Sorry, I solved it by myself. I had misinterpreted a setting, but now it all works as expected! Thanks for a wonderful plugin!

[2015-02-04 19:30] #16 closed

[2015-02-06 19:45] gdvine opened #17 "All commands error out on line 687"
I'm using followScroll:false on my initial call. Later (on resize), I try calling any of the commands (stop, off,on,destroy,reinit) and hc-sticky errors out with this:

[code]

[2015-04-20 22:56] ve3 opened #18 "Have problem with different top: in responsive design."
Hello.

The desktop design top: is 50, tablet or mobile version is 100.

I cannot off/destroy or anything.

[code]

This is error in browser console.

I cannot off or stop or destroy it. So, I cannot make sure that how do i change top offset in each window size.

[2015-04-24 07:46] nkpgardose commented on #7
:+1:

[2015-04-28 14:12] alfonsomunozpomer opened #19 "HC-Sticky breaks Chosen (or viceversa)"
Hi, I just wanted to let you know that when hc-sticky.js is included in a page where the plug-in [Chosen](https://github.com/harvesthq/chosen) is used, Chosen breaks.

You can see it in the following fiddle: http://jsfiddle.net/q37k614d/

If you remove hc-sticky.js and run it again, you’ll see that the multiple select element renders properly.

[2015-04-28 14:25] alfonsomunozpomer commented on #19
The problem seems to be the naming of the style plugin. I renamed it to hcStyle and it works nicely with Chosen. If you want I can send a pull request.

[2015-06-01 23:25] lame07 opened #20 "Border issue"
I am sorry, have a little problem in using github.

On resizing it's going up and down 1-2px; it irritated me and I found the problem.
But here is a little fix:

$resize_clone = $this.clone().attr('style', '').css({
                                visibility: 'hidden',
                                height: 0,
                                overflow: 'hidden',
                                pad

[2015-06-06 13:46] livelifelively opened #21 "The 'on' functionality not working."
$('.element').hcSticky('on') cannot recover from 'off', 'stop' or 'offResolutions'

[2015-07-21 18:09] kusmierz commented on #11
It could be closed.

[2015-07-22 13:34] #11 closed

[2015-07-28 17:36] prashen commented on #6
Hi there,

I am using your plugin and it's really nice. I am getting the same error just above. Can you please tell us how to fix resize styles fixed on sticky target elements. Are you working on this specific issue?

Thanks in advance.

[2015-08-27 17:14] tbartels opened #22 "Google ad (adsense) iframes sometimes disappear when in a sticky container."
RE: http://someweblog.com/hcsticky-jquery-floating-sticky-plugin/#div-comment-14461 (for some reason your webhost firewall has decided to block me for trying to submit this as a comment)

I've been battling this same thing for the past week. I think I have found the problem as well as a partial solution.

The basic issue is that ALL iframes don't "like" DOM manipulations, if an iframe is inside a

[2015-09-10 17:25] tBaxter opened #23 "issue when using flex box?"
I'm not sure what's going on here, but given a two column layout, using flex box, the side column (which has hc-sticky applied) is getting it's width reset incorrectly.

Not much to go on, I know, but any ideas of where to start looking? What can I give  you to help debug?

[2015-09-14 18:03] tBaxter commented on #23
If it's any help, it appears to be picking up margin: auto, but I'm not sure why.

[2015-10-20 17:03] arjjuna opened #24 "Sticky navigation bar disappears after scrolling for a while"
Hello,

I have a navigation bar/header to which I applied this code:

[code]

It works fine, but it disappears after scrolling for a while. You can view it here http://arjjuna.github.io/mysite/

 What could be the issue?

Thanks

[2015-10-23 01:08] arjjuna commented on #24
Problem solved after adding:
[code]

[2015-10-23 01:08] #24 closed

[2015-10-27 22:13] djvdorp commented on #22
Thank you so much for this, we are facing the exact same issue here!

[2015-11-15 01:47] tBaxter commented on #23
Close this. I figured it out. I needed to set a width.

[2015-11-15 01:47] #23 closed

[2015-11-15 01:49] tBaxter opened #25 "Does not work if overflow: hidden on html"
This can be seen on this simple codepen example: http://codepen.io/anon/pen/xwMKWo

overflow hidden is pretty common for paralax header and some other effects. Suggestions?

[2015-12-03 21:32] alfonsomunozpomer opened #26 "Fork for Node.js"
HC-Sticky is the best sticky plugin I’ve tried (and I’ve tried a few, believe me!) and it’s used in the [Gene Expression Atlas](http://www.ebi.ac.uk/gxa). We modified it to use it with our Node.js stack. Due to the lack of updates for almost a year, I’ve created a fork of HC-Sticky to use with Node.js. It’s in a very early yet functional state. If you want to have a look at it, go to https://githu

[2015-12-03 22:02] somewebmedia commented on #26
Thats great! I'll certainly take a look.

I have a ver2.0 ready for a few months now, but I didn't have time to
publish it yet. It is jQuery free, meaning it is pure JS.

Would you like to test it?

On 3 December 2015 at 22:32, Alfonso Muñoz-Pomer Fuentes <
notifications@github.com> wrote:

[2015-12-03 22:39] alfonsomunozpomer commented on #26
It’d be great! We’d be deligthed to test it. We use React in our front-end, so any visual element that depends on jQuery feels a bit like a kludge.

Thanks a lot for reaching out. It’s also very good news to know that you’re still working on HC-Sticky. I thought you had moved to something else entirely.

[2015-12-09 14:37] somewebmedia commented on #26
Can you leave me some email where I can send you the script for testing?

Or just write to somewebmedia@gmail.com

[2015-12-14 15:32] spidgorny commented on #25
Doesn't work on ```html { height: 100% }``` as well.

[2016-02-10 14:01] codeheroics commented on #26
@somewebmedia Could you please push the version pure JS version you're talking about on a Github branch, even if it's not completely ready yet? I'd love to use hc-sticky in a project, but as I'm using React, modifying the DOM with the plugin isn't ideal.

[2016-02-18 13:34] redpik opened #28 "feature request: add delay"
it would be great to add delay when element is floating.

[2016-03-18 19:18] GeeksWebLogs opened #29 "Animation issue in blogger"
When I have used this hc-sticky in google blogger, I am facing issue when scrolling. Please refer below image
![issuesticky](https://cloud.githubusercontent.com/assets/17787687/13889344/22b05a46-ed6c-11e5-8a8f-85ffaa8d3039.gif)

[2016-04-27 10:20] ALTELMA commented on #17
+1

[2016-05-08 20:48] luchorengo commented on #6
You could try using reinit method on window resize event. Something like

`$(window).resize(function() {
	    	$('.content').hcSticky('reinit');
    });`

[2016-06-08 10:56] ALTELMA commented on #22
Hi, I will facing same problem and try your solution still don't working.

[2016-06-08 10:57] Nrohtgnohp commented on #22
Me too.

[2016-06-10 09:36] ALTELMA commented on #22
After I spend more time to read your instruction and try again. It work!!

[2016-06-23 04:01] ALTELMA commented on #18
try to add responsive option.

`$('.page-sidebar').hcSticky({
    bottom: 0,
    bottomEnd: 8,
    top: sticky_menu_top,
    responsive: true,
});`

I not sure that option will help you.

[2016-06-23 05:03] Nrohtgnohp commented on #28
+1

[2016-07-01 07:20] xApep opened #30 ".sticky"
I have two stick elements on one page.

One when scroll the class .sticky is added but on other element it isn't.

And idea?

[2016-08-01 09:20] Priler commented on #22
Thanks, this worked fine.
But, what I've done, is just wrapped my <div id="sidebar"></div> with .wrapper-sticky class like this <div class="wrapper-sticky"><div id="sidebar"></div></div> and this worked fine.

[2016-12-30 23:48] fallenturtle commented on #21
I'm having this same issue.

[2017-01-12 01:53] fallenturtle opened #32 "Sticked object taller than viewport rapidly activate/deactivates sticky on scroll at bottom"
I have a page with an element that is supposed to be sticky when scrolling down. The element is tall and when the viewport is shorter than the element and you scroll down its fine until you scroll to the bottom of the stuck element. At this point if you continue scrolling down the page the stuck element rapidly turns on and off the "sticky-active" and "sticky" selectors causing the element to jump

[2017-01-12 21:00] #32 closed

[2017-01-17 00:59] xmon opened #33 "Add class to body, it's possible?"
I need add class to body when element is sticky.

this is possible?

thanks

[2017-01-18 08:59] xmon commented on #33
ok, with callback functions onStart and onStop.

[2017-01-18 08:59] #33 closed

[2017-01-29 16:38] me2funky commented on #30
please write your code here

[2017-02-14 09:27] thomasfrobieter opened #35 "Destroy not working as expected"
After fire the destroy command, the sidebar still has the inline css styles:

width: 100px;
top: 0px;
bottom: 0px;
left: 0px;
right: 717px;
position: absolute;

This should be removed also?

[2017-02-16 10:13] askibinski commented on #35
Yes, noticed that too. Our workaround was to manually remove those inline styles, but I think this should be fixed in the script.

[2017-02-16 17:36] jaichandra opened #36 "Absolutely positioned elements within parent containers render incorrectly"
When `hcSticky()` is applied to absolutely positioned elements, the layout breaks.

Refer to below example:
http://jsfiddle.net/kleptomac/ju5esLh8/

The sidebar on the right is pushed out of the window when `hcSticky()` is applied. Commenting out the JS renders the sidebar in the correct position.

Expected behavior:
The default layout should not break when `hcSticky()` is applied to an element.

[2017-03-05 20:10] romankondratev opened #37 "$(window).on('load', function(){});"
![mosseo ru 2017-03-05 23-08-58](https://cloud.githubusercontent.com/assets/5024848/23590874/e178e398-01f8-11e7-9be8-d3a494ff7e96.jpg)

[2017-03-14 15:04] redpik opened #38 "jQuery 3"
HC-Sticky doesn't work on jQuery 3.

`TypeError: a.indexOf is not a function`

[2017-06-12 12:58] Lamecarlate commented on #38
I have the same problem. It's because it uses `.load()`, which is deprecated since 1.8 and removed in 3. Replace `$window.load(function(){` by `$window.on('load', function(){`. (I'll file a pull request)

[2017-06-23 15:35] manuhook commented on #21
Same issue here :)

[2017-11-27 19:48] somewebmedia commented on #6
Obsolete.

[2017-11-27 19:48] #6 closed

[2017-11-27 19:48] somewebmedia commented on #7
Obsolete.

[2017-11-27 19:49] somewebmedia commented on #9
Obsolete.

[2017-11-27 19:49] #9 closed

[2017-11-27 19:49] somewebmedia commented on #17
Obsolete.

[2017-11-27 19:49] #17 closed

[2017-11-27 19:49] somewebmedia commented on #8
Obsolete.

[2017-11-27 19:49] #8 closed

[2017-11-27 19:49] somewebmedia commented on #19
Obsolete.

[2017-11-27 19:49] #19 closed

[2017-11-27 19:50] somewebmedia commented on #21
Obsolete. New major version available.

[2017-11-27 19:50] #21 closed

[2017-11-27 19:51] somewebmedia commented on #20
Obsolete. New major version available.

[2017-11-27 19:51] #20 closed

[2017-11-27 19:51] somewebmedia commented on #25
Obsolete. New major version available.

[2017-11-27 19:51] #25 closed

[2017-11-27 19:52] somewebmedia commented on #28
Due to realtime calculations of the element position, this can't be done.

[2017-11-27 19:52] #28 closed

[2017-11-27 19:52] somewebmedia commented on #29
Obsolete. New major version available.

[2017-11-27 19:52] #29 closed

[2017-11-27 19:53] somewebmedia commented on #30
Obsolete. New major version available.

[2017-11-27 19:53] #30 closed

[2017-11-27 19:53] somewebmedia commented on #38
Obsolete. New major version available.

[2017-11-27 19:53] #38 closed

[2017-11-27 19:53] somewebmedia commented on #37
Obsolete. New major version available.

[2017-11-27 19:53] #37 closed

[2017-11-27 19:53] somewebmedia commented on #36
Obsolete. New major version available.

[2017-11-27 19:53] #36 closed

[2017-11-27 19:54] somewebmedia commented on #26
New major version available!

[2017-11-27 19:54] #26 closed

[2018-01-08 23:40] stromfeldt opened #40 "Flickering/bouncing with SVGs"
The sticky works just fine with text, JPGs and PNGs, but as soon as I insert some SVGs the HC-Sticky sidebar starts flickering/bouncing on the scroll down. Firefox 57.04 and Chrome 63.0.3239.132.

[2018-01-09 01:07] stromfeldt commented on #40
Sorry, never mind. Images must be designated `display: block` (or whatever else it be) lest they flicker.

[2018-01-09 01:07] #40 closed

[2018-01-12 00:49] stromfeldt commented on #40
So it was a bug, fixed with [version 2.1.1](https://github.com/somewebmedia/hc-sticky/releases/tag/v2.1.1). Cheers!

[2018-01-23 22:44] CHEWX opened #41 "StickTo error"
Hi,

Nice job on version 2!

It mentions in brackets for `stickTo`, `(parent element)`, however is errors, if nothing is set.

`Cannot read property 'indexOf' of undefined`

It works ok, if `stickTo` is not set and `top` is explicily set to `0`, even though it is in the defaults.

Thanks,
Tom

[2018-01-24 12:09] somewebmedia commented on #41
Hi @CHEWX, could you please provide me with some demo page where I could take a look at what is happening, because I can't re-create the problem you are experiencing.

Thanks.

[2018-01-24 12:31] CHEWX commented on #41
Hi @somewebmedia ,

You can see the replication here — https://codepen.io/anon/pen/KZLvOJ

Thanks

[2018-01-28 18:03] carasmo opened #42 "FireFox quantum (Async Pan/Zoom [APZ] ) jumpiness"
This script is amazing! Thank you for making it and maintaining it.

When FireFox updated recently, they added the [Async Pan/Zoom [APZ] ](https://hacks.mozilla.org/2017/11/async-panzoom-apz-lands-in-firefox-quantum/) which delays scrolling for a few frames, so there is an ugly jump before hc-sticky takes over IF the element you're sticking is sticking to the body top: 0 position.

I worked out a

[2018-01-28 18:10] carasmo commented on #42
Just confirmed, no jumpiness if the element is not smacked up against the top of the window! Yay!!!!

[2018-01-28 19:58] carasmo commented on #41
@CHEWX

You have tell it what to stickTo and the class sticky is reserved for the plugin, so make the element you want to stick another class. Here's a modified pen:

https://codepen.io/anon/pen/VQZVjW

[2018-01-28 22:09] CHEWX commented on #41
@carasmo It's an error with the plugin.

The plugin should default to the `parent element`, this shouldn't be explicit.

It defaults correctly when parsing `{ top: 0 }`, however, this shouldn't be needed.

When initialising the plugin, in most cases, there shouldn't be a need to add any options. They are options, to modify the default behaviour.

As such, the default behaviour is problematic, henc

[2018-01-29 00:10] carasmo commented on #41
I see. I assumed that null meant that it must be filled in and parent element in parenthesis meant I had to stick in the class or id.
<img width="950" alt="screen shot 2018-01-28 at 7 08 52 pm" src="https://user-images.githubusercontent.com/1124594/35488983-bdf1103a-045e-11e8-952f-e9076047f12d.png">

[2018-01-30 10:30] iconicwp commented on #7
This still happened for me. On sticky init my checked radio button lost its "checked" value.

I've got around it for now by resetting it if its not set on "onStart" and "onStop" but it's not ideal.

[2018-01-31 21:01] somewebmedia commented on #41
@CHEWX I can confirm it's the bug in the plugin. I'm currently on vacation, will fix it as soon as I get back.

[2018-01-31 21:02] iconicwp commented on #7
-- Please reply above this line --

Hey Somewebmedia/hc-Sticky,

 Thanks for contacting Iconic!

 This is just a quick note to let you know I have received your email,
and will respond as soon as I can.

 My support hours are between 9AM-5PM GMT MONDAY TO FRIDAY, but it may
take up to 48 HOURS for me to get back to you.

 In the meantime, please check the documentation site [1] for answers
to our

[2018-02-02 11:16] jamesckemp commented on #32
Hey, I'm experiencing this. Did you close because you solved it?

[2018-02-02 11:24] jamesckemp commented on #32
Ah, looks like it's caused if the following is true:

1. The sticky element is taller than the `window`
2. The last element inside the sticky has margin-bottom

[2018-02-24 14:28] somewebmedia commented on #41
@CHEWX Should be fixed with the latest (`2.1.2`) version.

[2018-02-24 14:28] #41 closed

[2018-02-25 13:20] somewebmedia commented on #7
@iconicwp Fixed with the newest version.

[2018-02-25 13:20] #7 closed

[2018-02-25 13:20] iconicwp commented on #7
-- Please reply above this line --

Hey Somewebmedia/hc-Sticky,

 Thanks for contacting Iconic!

 This is just a quick note to let you know I have received your email,
and will respond as soon as I can.

 My support hours are between 9AM-5PM GMT MONDAY TO FRIDAY, but it may
take up to 48 HOURS for me to get back to you.

 In the meantime, please check the documentation site [1] for answers
to our

[2018-02-27 14:47] somewebmedia commented on #32
@jamesckemp can you provide me with a demo of this bug?

[2018-03-04 07:54] farreal opened #43 "How do disable for mobile and tablet?"
I am having trouble understanding how I can disable this plugin for mobile and tablet users. at the moment I've tried using the `destroy` and the `onresize` options but I am obviously doing something wrong. Can anyone direct me on how these are supposed to be combined so I can create the state change I need?

[code]
Thanks!

[2018-03-04 16:04] carasmo commented on #43
I downloaded the [master](https://github.com/somewebmedia/hc-sticky/archive/master.zip) and there are examples for disabling for media queries in the `demo / build` directory

You can't disable for _actual_ device tablets and/or phones with this script, or any other similar script. If you need to do that, I would use server side detection, for example [Mobile Detect php class](https://github.com/s

[2018-03-04 16:14] farreal commented on #43
@carasmo Thank you - at least that's a start!

Say if I want to disable the script from 768px (typical tablet) downwards how would I manipulate this to cater for that kind of request?

[code]

[2018-03-04 16:56] carasmo commented on #43
Change the breakpoint to 767. You can see what options in the [read me: ](https://github.com/somewebmedia/hc-sticky):

[2018-03-04 17:25] farreal commented on #43
Of course! 🤪

thank you

[2018-03-04 18:34] #42 closed

[2018-03-04 18:36] carasmo commented on #43
Cool. Please close, this is not a bug report or a feature request. Thanks!

[2018-03-04 18:42] #43 closed

[2018-03-11 22:41] vovkasolovev opened #44 "Please add Spacer class name"
Hi!
I had to use the script in the `<ul>` sidebar on the last `<li>` element. For some reason, the created `div` Spacer does not copy the `list-style-type` attribute value from `<li>` and shown as a default list item with disk. Please add to the Spacer some class name, in order to be able fix directly any such special occasions.

Thank you! Great script!

[2018-03-18 14:20] ballios opened #45 "v2.1.3 does not sticks div in IE11"
I've updated on HC-Sticky 2.1.3.
But in HC-Sticky 2.1.3 the divs (any sticked object) start dont stick in IE11.
There is not such problem in v2.1.1
What happened?

[2018-04-04 19:28] 3mcd commented on #45
Looks like it might be related to this line:

https://github.com/somewebmedia/hc-sticky/blob/master/src/hc-sticky.helpers.js#L183

[2018-04-10 19:19] Pseudo-Nym commented on #45
I'm having same basic problem. 2.1.3 broken in IE and MS Edge getting error in console "Object doesn't support property or method 'forEach'" tracks back to where 3mcd indicated.

[2018-04-13 19:56] somewebmedia commented on #45
Fixed with the newest version (`2.1.4`).

[2018-04-13 19:56] #45 closed

[2018-04-18 17:09] ArseniyShestakov opened #46 "Problem with sticked div when it's height is larger than screen"
Two issues occur when height of sticked div is bigger than height of the screen:

- When moving screen too fast or when browser is lagging vertical position of sticked block div get out of sync.
- When it's happens spacer start to overlap sticked div and it's impossible to click on any controls covered by spacer. This can be bypassed by adding ```z-index: -1``` for spacer, but I not sure if it's g

[2018-04-18 17:13] ArseniyShestakov commented on #46
Screenshots.

On page load:

After scrolling page down and scrolling up rapidly:

[2018-04-20 10:43] somewebmedia commented on #46
@ArseniyShestakov thanks for reporting this, I've managed to reproduce it. I'll try to figure out why is that happening.

[2018-04-20 11:36] somewebmedia commented on #46
@ArseniyShestakov the bug should be fixed now, can you please check the latest version (`2.1.5`) and let me know if it works for you? Thanks.

[2018-04-20 13:55] ArseniyShestakov commented on #46
Thank you so much with rapid fix. I'll test it immediately!

[2018-04-21 17:55] KytoSai opened #47 "Add callback for events in plugin !!"
Sorry !!!

[2018-04-21 18:01] #47 closed

[2018-04-21 18:13] KytoSai opened #48 "Update() method can't work ????"
I try setimeout to update top value from 10 to 30. But it cannot work ???
Demo: http://noibatdau.com/demo/Fix/demo_1.html

[2018-04-21 18:36] KytoSai commented on #48
I try fash your source ...

I see:
http://prntscr.com/j8bhpc

I think it will be useful for you. Thank you !
I love this plugin !

[2018-04-21 18:54] somewebmedia commented on #48
Thanks for your input, I appreciate it. I just pushed the latest version, the bug should be fixed now.

[2018-04-21 18:54] #48 closed

[2018-04-22 04:15] KytoSai opened #49 "Plugin cannot use option 'stickTo' with a jquery element object ??"
I try use otpion 'stickTo' with object jquery, but it can't work

Code: http://prntscr.com/j8goxj
Error: http://prntscr.com/j8gp36

[2018-04-22 10:31] somewebmedia commented on #49
True, it can't.

Just pass the selector string:

`stickTo: '#home-sale-block-v2'`

[2018-04-22 10:31] #49 closed

[2018-05-16 15:26] kabzon13 opened #50 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null"
Hi folks,

Thanks for plugin!
I found some bug in hcSticky.
How to reproduce:

- add hcSticky for some container
- hide container
- resize browser window

you will see error in console
"Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null"
This is cause of offsetParent of hidden element is null
It happens here
https://github.com/somewebmedia/hc-sticky/blob/master/src/hc-sticky.

[2018-05-17 07:32] exhtml commented on #50
Same problem here, trying to find a workaround for this but still no luck :(
Any way of avoiding hcSticky trying to fetch this properties if container is not visible?
Thank you very much for your help!

[2018-05-17 23:02] ArseniyShestakov commented on #46
Thanks again for fixing it!

[2018-05-18 06:56] exhtml commented on #50
Fixed!! Thank you very much for your help and work!

[2018-06-06 11:11] aligajani opened #51 "Is it possible to push stuff down at the bottom while scrolling?"

[2018-06-06 11:14] somewebmedia commented on #51
@aligajani I'm not sure I understand the question. Can you explain in more detail please?

[2018-06-19 13:21] somewebmedia commented on #51
@yasir-rafiq Have you tried using `reinit` method after you added your dynamic content?

[2018-06-26 21:31] justanotherco opened #52 "How to use reinit method? Always get "reinit is not a function""
Hey there,

Trying to run the reinit method but can't understand how it works. Could you please look at this non-working pen and if possible point out what's wrong with it? The console always says reinit is not a function

https://codepen.io/anon/pen/xzavRw?editors=1111

Thanks in advance

[2018-06-26 22:08] justanotherco commented on #52
Fixed with .data('hcSticky').reinit();

[2018-06-26 22:31] somewebmedia commented on #52
@justanotherco Actually it's a bug, it should be attached to the element directly. Thanks for noticing this, I'll fix it.

[2018-06-26 22:49] somewebmedia commented on #52
My bad, it shouldn't be on the element.

[2018-06-26 22:49] #52 closed

[2018-06-27 06:19] yasir-rafiq commented on #51
can you explain how I can use this method?

[2018-06-27 13:11] somewebmedia commented on #52
@justanotherco I've updated the plugin so now you can call the methods properly like this:

[code]

[2018-06-27 13:22] somewebmedia commented on #51
@yasir-rafiq Are you using it via jQuery or vanilla js?

[2018-06-27 14:29] justanotherco commented on #52
That's great news, thanks for the hard work! Out of curiosity, are there any benefits to using it that way instead of data('hcSticky') apart from the more standerized syntax?

[2018-06-27 14:41] somewebmedia commented on #52
In case I ever change the way the methods are attached to the jQuery object, by using standardised syntax you ensure that everything will continue to work properly.

[2018-06-28 05:33] yasir-rafiq commented on #51
js

[2018-06-28 10:07] somewebmedia commented on #51
[code]

[2018-08-16 17:40] ebouwsemacx opened #54 "Flicker/Bounce when Chrome zoomed in/out"
When we create a sticky element that is larger than the browser viewport size and in Chrome the screen is either zoomed in or out (ie: view the page at 90% or 110% etc) any sticky elements flicker and bounce when scrolling down - this does not happen when the screen is set to 100%.  We've also seen this occur on a high-resolution screen on a Microsoft Surface Pro, where Windows 10 is set to magnif

[2018-08-20 06:16] leran opened #55 "I don't understand how use "responsive""
Please, give an examples what should the object look like

[2018-08-29 04:49] somewebmedia commented on #54
Hi @ebouwsemacx, I was on a vacation so sorry for not replying right away. I'll check into this and get back to you.

[2018-08-29 05:15] somewebmedia commented on #55
Hi @leran, you use the same settings just within the media query you want, like this:

[code]

So this means, the sticky will have the top set to 0 below the 1024px of the screen width.

And you also use `mobileFirst` if you want the direction of the queries to go from lover to higher.

So you could write it like this:

[code]

Or you can use it to disable the plugin for specific resolutions (I di

[2018-08-29 05:15] #55 closed

[2018-08-30 06:26] pharitz commented on #54
I can confirm the same issue using hc-sticky 2.2.1  and chrome 68.0.3440.106  on mac.
Except Im still getting the flickering on scroll when zoom is set to 100%

[2018-09-17 11:32] #51 closed

[2018-09-20 12:07] vistar opened #56 "Uncaught TypeError: Cannot read property 'offsetHeight' of null at O (hc-sticky.js:11)"
How to resolve this error?

jQuery 3.2.1

Element is have height.

[2018-09-21 04:59] somewebmedia commented on #56
@vistar Do you have any example I can take a look at?

[2018-09-21 13:31] justanotherco commented on #54
Actually can also confirm it on Chrome on Mac, if I zoom into 110% it fights between absolute/fixed constantly and looks very broken

[2018-09-22 03:35] somewebmedia commented on #54
This bug is caused due to Chrome's subpixel precision, which returns decimal points for values making them not match up. I'll have to play around with this.

[2018-09-22 03:59] somewebmedia commented on #54
@ebouwsemacx @pharitz @justanotherco Can you all check if the bug is still present in the new `v2.2.2` version?

[2018-09-22 04:31] somewebmedia commented on #44
Sorry for the late response. Class name 'sticky-spacer' added in the newest version.

[2018-09-22 04:31] #44 closed

[2018-09-22 10:42] pharitz commented on #54
@somewebmedia Thats fixed it, thank you!

[2018-09-22 12:27] justanotherco commented on #54
Yep perfect now, thanks!

[2018-09-25 00:13] #54 closed

[2018-12-10 13:30] Bluxart opened #57 "Uncaught TypeError: Cannot read property 'queries' of undefined"
Hi, I have included this script in WordPress.
But I have this error: **Uncaught TypeError: Cannot read property 'queries' of undefined**

I used the default jQuery version bundled with WordPress 4.9.8

Image Reference: https://cl.ly/195da84f9347

[2018-12-12 08:21] somewebmedia commented on #57
Are you using the latest version of hc-sticky? And can you provide me with the code you are calling the sticky?

[2018-12-12 08:41] Bluxart commented on #57
Hi, yes I used the last version 2.2.3

I used the default jQuery example code:

`jQuery(document).ready(function($) {
  $('#element').hcSticky({
    stickTo: '#content'
  });
});`

Or this

`jQuery(document).ready(function($) {
  $('#element').hcSticky();
});`

return me the error...I tested also some old version of plugin but have the same error in console log.

[2018-12-12 10:10] Bluxart commented on #57
I have make some test ( change the position about calling script ) and now the error disappear and work the last version.

Thanks.

[2018-12-14 19:58] litajupiter opened #58 "Long sidebar menu is cut off at the bottom when sticked"
I'm using this on a long, mobile-only menu that gets cut off at the bottom when I scroll. As of right now, this is all I'm using:
	$('#my-element-here').hcSticky({
		stickTo: '#content'
  });

Do I need to enable/disable something to allow the menu to be scrollable when it is taller than the viewport?

[2019-01-11 06:53] iamplugged commented on #57
@somewebmedia Pls close.

[2019-01-25 14:39] Crisfole opened #59 "Demos suspended"
Looks like a great library! I wanted to see it work, but the demo's host account is suspended....

[2019-02-14 15:20] GERJohnson opened #60 "[QUESTION/HELP]Stick element below another sticky element"
Hi, am trying to stick an element below another element. I am sure this can be done with this package but I feel I do something wrong.

Can anyone help ?

Here my html

    <div id="sticky-app">
       <div id="sticky-navigation" style="height:80px">Navigation</div>

       <div id="sticky-content" style="height:1500px">
           <div id="sticky-element">
              <div style="width:150px;he

[2019-02-26 06:01] strelok1 commented on #59
Demos are in demo/build folder, I just opened index.html locally and they're all there.

[2019-03-12 15:56] Almo7aya commented on #59
@somewebmedia Can you host the demos using GitHub pages?

[2019-03-13 10:14] somewebmedia commented on #59
Demos moved to gh pages: http://somewebmedia.github.io/hc-sticky/

[2019-03-13 10:14] #59 closed

[2019-03-14 09:53] #57 closed

[2019-05-03 13:27] stormitornado commented on #58
I have that problem, but nothing really helped me,
it happens only when sidebar just a little taller, than viewport
Wherein I have settings with "top" > 0, and "bottom" > 0;

"bottom": 0,  didn't help
"followScroll" doesn't affect also
neither "update" nor "refresh" commands doesn't change anything
I think I'll have to rewrite some parts of this plugin, to find a solution

[2019-05-16 13:41] banha-serhii opened #63 "Google Chrome | When bookmarksbar is show (ctrl + shift + b) sticky conteiner a little hide under bar"
In Google Chrome (other browser do not testing) after using this plugin with jQuery, sticky container hide under bookmarks bar, when scroll down, and display good when scroll up

[2019-05-17 04:39] theanh08933 opened #64 "Multiple sticky bad performance when 'update'"
Hi !
i got a issue when i have some panel with toggle collapse on click, and each time i click to collapse a panel, i set :
[code]

it take about 2-3s delay.

Can anyone help me?

[2019-06-16 14:35] 7iomka commented on #60
same issue...Any help?

[2019-10-24 20:52] mupic opened #66 "Parent transform: translate(0, 0)"
Like any other sticky library, this one also does not work if the parent has the transform: translate (0, 0) style.
This library is one of the many that I liked, it would be very cool if the function of support for transformed elements was added in the future.

[2020-03-13 12:28] loevgaard opened #67 "Cannot read property 'queries' of undefined"
I get this error:

![image](https://user-images.githubusercontent.com/2412177/76620748-2d3b8d80-652e-11ea-984c-7d1eb3d5e1e1.png)

Here is my code:

[code]

It works if I do this:

[code]

I think it has something to do with this: https://github.com/somewebmedia/hc-sticky/blob/master/src/hc-sticky.js#L88

I am JS newb, so can't help with a PR :(

[2020-07-20 17:41] fallenturtle commented on #60
I did something similar for my site. What I did depends on the top element having a fixed height and then I used innerTop to offset the bottom element.

[code]

[2020-08-18 06:18] somewebmedia commented on #64
That is because you are initiating it with `new hcSticky` constructor and then you're updating it with jQuery plugin.

Use this to call it first instead:
[code]

[2020-08-18 06:18] #64 closed

[2020-08-18 06:22] #56 closed

[2020-08-18 07:05] somewebmedia commented on #60
If this is still relevant, some jsfiddle would be helpful to understand what you're trying to do.

[2020-08-18 08:30] somewebmedia commented on #66
This is impossible to implement whit libraries such as this one, because in order for the element to bi sticky relative to the viewport, it has to have `position: fixed`. Here is the explanation of what is happening when you put fixed element inside transformed parent: https://stackoverflow.com/questions/15194313/transform3d-not-working-with-position-fixed-children/15256339#15256339

 Unfortunatel

[2020-08-18 09:47] somewebmedia commented on #67
This should be fixed by now in the latest version.

[2020-08-18 09:47] #67 closed

[2020-08-18 09:50] loevgaard commented on #67
Thank you!

[2020-08-18 09:51] somewebmedia commented on #63
If this is still relevant, a screenshot would be helpful, thanks.

[2020-08-18 18:07] banha-serhii commented on #63
Ohhh, I can't even remember what kind of project it is)

[2020-08-18 18:08] banha-serhii commented on #63
Thanks, for your reply. At this momnet you cant close this issue

[2020-08-18 18:08] #63 closed

[2020-09-21 13:45] Johnson444 commented on #60
Hey, I don't use this lib anymore. if it was just us three I guess it's not that common :-) Feel free to close it, still think it would be a cool feature tho.

A simple example: Instead of setting a top value like "top: 80" I want to stick it relative to another element. if the "parent" element has a height of 100px it should be positioned at top:100

It should be possible to chain elements. So If

[2021-10-05 03:24] steve231293 opened #73 "Smooth transition on Update Offset?"
Hello there,

Could you make smooth transition for sticky elements when update "offset" setting?

[2021-10-05 07:57] somewebmedia commented on #73
I'm not sure I follow. Can you give me an exact example of the desired behaviour?

[2021-10-06 01:04] steve231293 commented on #73
Hello @somewebmedia

For eg:

When I scroll up then I want to show sticky header, now I need to update offset top.
Everything is ok now. But there is no transition for top.
I know CSS **transition** not working with **top** maybe use CSS **translateY** instead of?

[2021-10-06 07:22] somewebmedia commented on #73
Ah, I see. It's not possible with this lib. It's using position absolute and top property, so it would have to be animated, which would add an extra complexity to it which I don't think could be done because the lib is already complex by itself. Sorry.

[2021-10-07 03:33] steve231293 commented on #73
Oki, thank you for your quick reply.

[2021-10-26 10:23] #73 closed, assigned to nobody

[2021-11-29 16:12] DanielGarzaB opened #74 "Avoid serving legacy JavaScript to modern browsers"
When checking https://pagespeed.web.dev/ I get an warning which delays my Total time blocking about 0.15 seconds:

- Avoid serving legacy JavaScript to modern browsers - 0.15 s

Polyfills and transforms enable legacy browsers to use new JavaScript features. However, many aren't necessary for modern browsers. For your bundled JavaScript, adopt a modern script deployment strategy using module/nomodu

[2022-03-28 19:32] FayazK opened #75 "Duplicate/persistent Spacer element"
I used your plugin and it is amazing, Thank you
during Usage, I found one issue which is with resize and refresh

on window resize, I do update the top property but the spacer was behaving unexpected, after some testing, I found that the reset function does not remove the spacer entirely but create a new spacer element which should be fixed.

[2022-07-22 08:54] trongtri35 opened #76 "sticky stop working when call ajax"
i got problem that's when i update something like quantity product in cart page (woo in wordpress) by using jQuery ajax, and then the sticky not working! It just working one time when page load, and then, if have any ajax call, sticky stop working.
how can i fix this?

[2022-09-18 13:26] sagarponnur commented on #57
jquery.min.js:2 Uncaught TypeError: Cannot read properties of undefined (reading 'isEmptyObject')
    at setOptions (hc-sticky.min.js:102:19)
    at new hcSticky (hc-sticky.min.js:698:5)
    at HTMLDivElement.<anonymous> (hc-sticky.min.js:731:24)

I getting error in console.
Wordpress theme - Urna
hc-sticky.min.js  is integrated in theme.
hc-sticky.min.js  - 2.2.7

Can you help me with that, pleas